Repository babyjazz/git-diff-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix

add asset constant and init tailwind
  bun.lock
  package.json
  src/App.css
  src/App.tsx
  src/components/diff-panel/index.tsx
  src/constants/diff-data/diff-serialized-sample-1.json
  src/constants/diff-data/diff-serialized-sample-2.json
  src/constants/diff-data/diff-serialized-sample-3.json
  src/constants/diff-data/diff-serialized-sample-4.json
  src/constants/diff-data/diff-serialized-sample-5.json
  src/index.css
  src/main.tsx
  vite.config.ts
Due: prettier --write, oxlint --fix

fix tsconfig path alias
  bun.lock
  package.json
  src/App.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write, oxlint --fix

test code
  src/components/diff-panel/index.tsx
Due: prettier --write, oxlint --fix

change tailwind
  src/index.css
Due: prettier --write

fix tailwind
  src/index.css
Due: prettier --write

add header
  src/components/diff-panel/header.tsx
Due: prettier --write, oxlint --fix

add diff panel
  bun.lock
  components.json
  package.json
  src/App.tsx
  src/components/diff-panel/code-view.tsx
  src/components/diff-panel/diff-stats.tsx
  src/components/diff-panel/header.tsx
  src/components/diff-panel/index.tsx
  src/components/ui/collapsible.tsx
  src/index.css
  src/lib/utils.ts
Due: prettier --write, oxlint --fix

add pr title and styles
  bun.lock
  components.json
  package.json
  src/App.tsx
  src/components/diff-panel/header.tsx
  src/components/diff-panel/index.tsx
  src/components/ui/badge.tsx
  src/index.css
  src/utils/clsx.ts
Due: prettier --write, oxlint --fix

remove unused conditional
  src/components/diff-panel/index.tsx
Due: prettier --write, oxlint --fix

add toast and connect data for file paths
  bun.lock
  package.json
  src/App.tsx
  src/components/diff-panel/code-view.tsx
  src/components/diff-panel/header.tsx
  src/components/diff-panel/index.tsx
  src/components/ui/sonner.tsx
  src/index.css
Due: prettier --write, oxlint --fix

init line diff
  src/components/diff-panel/code-view.tsx
  src/components/diff-panel/header.tsx
  src/components/diff-panel/index.tsx
Due: prettier --write, oxlint --fix

fix styles
  src/components/diff-panel/code-view.tsx
Due: prettier --write, oxlint --fix

add diff logic
  src/components/diff-panel/code-view.tsx
  src/index.css
  src/types/diff-data.ts
Due: prettier --write, oxlint --fix

change toast title
  src/components/diff-panel/header.tsx
  src/components/ui/sonner.tsx
  src/index.css
Due: prettier --write, oxlint --fix

fix type
  src/components/diff-panel/index.tsx
Due: prettier --write, oxlint --fix

add file for testing
  test.txt
Due: none

test rename file
  test1.txt
Due: none

test rename file
  test.txt
Due: none

add arrow for file renamed
  src/components/diff-panel/header.tsx
Due: prettier --write, oxlint --fix

add router
  bun.lock
  package.json
  src/App.tsx
  src/components/diff-panel/index.tsx
  src/components/layout/index.tsx
  src/components/navbar/index.tsx
  src/components/ui/tabs.tsx
  src/constants/diff-data-mapper/index.ts
  src/constants/routes/index.ts
  src/main.tsx
  src/pages/home.tsx
  src/router/index.tsx
Due: prettier --write, oxlint --fix

add sample pr to navbar
  src/components/navbar/index.tsx
  src/index.css
Due: prettier --write, oxlint --fix

update word
  src/pages/home.tsx
Due: prettier --write, oxlint --fix

update readme
  README.md
Due: prettier --write

refactor and comment code
  src/components/navbar/index.tsx
  src/main.tsx
  src/router/index.tsx
Due: prettier --write, oxlint --fix

format code
  src/pages/home.tsx
Due: prettier --write, oxlint --fix

comment and remove
  README.md
  index.html
  src/assets/react.svg
  src/index.css
  src/pages/home.tsx
Due: prettier --write, oxlint --fix

update md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
  oxlint --fix: any of: *.{js,jsx,ts,tsx}
